/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 200px; 
}

.img{
  /* display: block; */
  margin: 0 auto;
  width: 100%;
  max-width: 200px;  
}

.container{
  width: 80%;
  max-width: 500px;
  padding: 40px;
  border: 1px solid black;
  margin: 0 auto;
  position: relative;
}

.hidden {
  display: none;
}

#matches {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.modal {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 80%;
  /*height: 100%;*/
  border: 1px solid black;
  background: white;
  top: 10%;
  /*left: 40%;*/
  /*bottom: 20%;*/
  flex-direction: column;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.close {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 32px;
  opacity: 0.3;
}

.close:hover {
  opacity: 1;
}

.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 5px;
  background-color: #333;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

#wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  border: 3px solid green;
  margin: 0 auto;
}

.savedBtn {
  border: 1px solid white
}